{
	servers {
		protocols h1
	}
	admin localhost:2019
	# Настройка On-Demand TLS: Caddy спросит у Python, можно ли выписывать SSL
	on_demand_tls {
		ask http://127.0.0.1:8080/check
	}
}

# HTTP блок для ACME challenges
:80 {
	# Handle ACME challenges
	handle /.well-known/acme-challenge/* {
		respond "ACME Challenge" 200
	}
	# Redirect everything else to HTTPS
	redir https://{host}{uri} permanent
}

https:// {
	tls {
		on_demand
	}

	# Логирование
	log {
		output file /var/log/caddy/access.log
	}

	# Важно: Caddy сам по себе ничего не проксирует.
	# Роуты (reverse_proxy) будут добавляться ДИНАМИЧЕСКИ через Python API (manage_caddy)
	handle {
		# Если для этого хоста Python еще не создал динамический роут через API,
		# то запрос попадет сюда и будет сброшен.
		abort
	}
}
