{
	email danierudai@gmail.com
	# Эта опция глобально отключает автоматические редиректы, 
	# если они мешают в других блоках
	auto_https disable_redirects
}

# Блок для Google CA (test, app, dev)
http://test.locrun.su, https://test.locrun.su,
http://app.locrun.su, https://app.locrun.su,
http://dev.locrun.su, https://dev.locrun.su {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		ca https://dv.acme-v02.api.pki.goog/directory
	}

	reverse_proxy localhost:8080 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
	}
}

# Блок для Wildcard (Let's Encrypt)
http://*.locrun.su, https://*.locrun.su {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}

	reverse_proxy localhost:8080 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
	}
}

# Корень
http://locrun.su, https://locrun.su {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	respond "Locrun Service Active (HTTP/HTTPS)" 200
}
