ListenAddress 0.0.0.0
Port 22

Match User tun
    AllowTcpForwarding yes
    GatewayPorts yes
    PasswordAuthentication no
    PubkeyAuthentication no
    PermitRootLogin yes
    PermitEmptyPasswords no
    AuthenticationMethods none