Port 22
ListenAddress 0.0.0.0
Protocol 2
PermitRootLogin no
UseDNS no
LogLevel ERROR
PasswordAuthentication yes
PubkeyAuthentication yes
PermitEmptyPasswords no
AllowTcpForwarding yes
GatewayPorts yes
TCPKeepAlive yes
ClientAliveInterval 30
ClientAliveCountMax 3

Match User tun
    PermitEmptyPasswords yes
    X11Forwarding no
    AllowAgentForwarding no
    AllowTcpForwarding yes
    GatewayPorts yes